INFLUXDB_API_TOKEN=atmospheric-local-token

# Influx UI
INFLUX_DATABASE=atmospheric
INFLUX_SERVER_NAME=Atmospheric (Local)
INFLUX_SERVER=http://influxdb:8181

# Grafana
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin

# Anomaly Detection
WINDOW_SIZE=1000
MIN_SAMPLES=30
CONTAMINATION=0.05
